In [2]:
#importing the dependencies

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#loading the dataset to a Pandas Dataframe
credit_card_data = pd.read_csv(r"C:\Users\james\OneDrive\Documents\DATA ANALYST PORTFOLIO\Python Projects\Credit Card Fraud Detection\Dataset\creditcard.csv")

In [4]:
#First 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
#Last 5 rows of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
Time      284807 non-null float64
V1        284807 non-null float64
V2        284807 non-null float64
V3        284807 non-null float64
V4        284807 non-null float64
V5        284807 non-null float64
V6        284807 non-null float64
V7        284807 non-null float64
V8        284807 non-null float64
V9        284807 non-null float64
V10       284807 non-null float64
V11       284807 non-null float64
V12       284807 non-null float64
V13       284807 non-null float64
V14       284807 non-null float64
V15       284807 non-null float64
V16       284807 non-null float64
V17       284807 non-null float64
V18       284807 non-null float64
V19       284807 non-null float64
V20       284807 non-null float64
V21       284807 non-null float64
V22       284807 non-null float64
V23       284807 non-null float64
V24       284807 non-null float64
V25       284807 non-null float64
V26       284807 non-null float64
V27       284807 non-null float64
V28       284807 non-null float64
Amount    284807 non-null float64
Class     284807 non-null int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
#checking distribution of legit transaction & fraudulent transactions
credit_card_data['Class'].value_counts()

#This dataset is highly unbalanced
#0--> Normal Transaction
#1--> Fraudulent Transaction

0    284315
1       492
Name: Class, dtype: int64

In [9]:
#separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [10]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [11]:
#statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
# compare the values for both of transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [14]:
#Under-sampling
#Build a sample dataset containing similar distribution of normal transactions and fraudulent transactions
#Number of fraudulent transactions-->492

legit_sample = legit.sample(n=492)

In [15]:
#Concatenating two DataFrames
new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [16]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
157455,109912.0,2.017736,0.419666,-1.681388,1.468662,0.650620,-1.360791,0.761167,-0.607215,1.109595,...,-0.007065,0.302803,-0.018098,-0.069579,0.430755,-0.522885,-0.059353,-0.065811,29.00,0
150833,94053.0,0.016996,1.552978,-1.168447,0.287129,1.480784,0.155190,0.477174,-2.800498,0.302342,...,2.359872,-0.288760,-0.281359,0.241589,1.116110,-0.465509,0.264506,0.264794,36.00,0
43427,41505.0,0.801640,0.257049,0.157530,0.514663,0.009569,0.215434,-0.056494,0.311968,-0.050311,...,0.251326,0.786960,0.282392,-0.290991,-1.071519,0.350076,-0.040343,-0.152227,7.59,0
231006,146575.0,2.230768,-1.885659,-1.316801,-2.584426,0.437764,3.997850,-2.465016,1.094970,-0.782656,...,-0.104073,0.132893,0.385831,0.672933,-0.518789,-0.209054,0.086718,-0.036200,8.95,0
38428,39391.0,-5.244561,3.563129,-2.087146,0.061926,-2.535440,-0.525061,-2.024507,2.046665,0.244342,...,0.673644,-0.863844,0.269812,-0.141515,0.429710,0.259593,-0.573146,-0.019591,36.90,0

In [17]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [18]:
new_dataset['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [19]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94012.388211,0.004184,0.066445,-0.000573,0.027361,0.050813,0.069027,-0.063431,-0.093056,0.046355,...,0.007598,-0.058701,0.007539,0.019547,-0.020727,0.003846,0.004936,-0.015410,-0.000957,73.803150
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [23]:
#Slpitting the data into features & Targets

X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [24]:
print(X)

            Time         V1        V2        V3        V4        V5        V6  \
157455  109912.0   2.017736  0.419666 -1.681388  1.468662  0.650620 -1.360791
150833   94053.0   0.016996  1.552978 -1.168447  0.287129  1.480784  0.155190
43427    41505.0   0.801640  0.257049  0.157530  0.514663  0.009569  0.215434
231006  146575.0   2.230768 -1.885659 -1.316801 -2.584426  0.437764  3.997850
38428    39391.0  -5.244561  3.563129 -2.087146  0.061926 -2.535440 -0.525061
24367    33200.0  -0.313354  0.594361 -0.025114  0.163751  2.557742  3.938990
124122   77184.0  -0.881759  0.842615  0.482134 -0.640307  0.327253 -0.389117
152027   96733.0  -1.662716 -1.967002  0.457065  0.839287  2.977977 -2.345194
34516    37704.0  -3.073976 -4.390619  0.941011 -0.604751 -4.777473  2.597523
210330  137932.0  -0.218639  0.513158 -2.225234 -2.097864  3.678899  2.692027
216917  140688.0   2.236032 -0.739854 -1.717042 -1.246837  0.022351 -0.326758
199730  133106.0   1.330128 -1.853308 -1.936108 -0.081818 -0.593745 -0.637872
75444    56072.0  -1.334978 -0.757414  1.714559 -2.381245 -1.985976  0.255509
218598  141380.0   1.491537 -1.112149 -0.791818  0.432749 -0.605113 -0.119712
140807   83948.0  -0.164814 -2.850780  0.643898  1.746273 -1.945098  1.122427
47010    43035.0   1.410419 -0.348236 -0.325649 -0.911253 -0.208755 -0.419860
166448  118085.0   2.213474 -0.768338 -1.630788 -0.926199 -0.271692 -0.875563
89083    62416.0   1.215581 -0.341509  0.454631  0.048088 -0.840468 -0.629774
230519  146362.0   1.522647 -0.307076 -2.639312  0.807022  0.863027 -0.086241
98927    66874.0  -0.639161  0.462938  1.370676 -2.948660  0.178149 -0.892800
64260    51090.0   1.120941  0.096348  0.494088  1.330609 -0.291422 -0.003569
190058  128671.0 -12.063423 -6.841760 -4.965806 -0.505942  1.102701  1.737413
176889  122954.0  -0.276304  0.622944 -1.454373 -1.651054  3.403271  3.107287
274329  165960.0   0.072394  0.315355 -0.658740 -2.040321  0.257806 -0.277569
206248  136136.0   0.132015  1.014079 -0.480323 -0.583943  1.096450 -0.743001
176653  122858.0   1.987663 -0.416829 -0.439553  0.392395 -0.496586 -0.127540
235000  148202.0   1.981172 -0.302475 -0.923912  0.741370  0.023717 -0.032239
210565  138038.0  -0.190410  0.631342  0.573944  0.142777  0.587064 -1.042990
196794  131697.0  -0.016170  0.917848 -0.703776 -0.015635  0.070596 -0.284627
87539    61728.0   1.248858  0.016764 -1.326915 -0.038474  2.231631  3.300861
...          ...        ...       ...       ...       ...       ...       ...
251891  155548.0   1.878230  1.325630 -2.333469  4.233151  1.355184 -0.853508
251904  155554.0  -1.040067  3.106703 -5.409027  3.109903 -0.887237 -2.497522
252124  155662.0  -1.928613  4.601506 -7.124053  5.716088  1.026579 -3.189073
252774  155965.0  -1.201398  4.864535 -8.328823  7.652399 -0.167445 -2.767695
254344  156685.0  -0.129778  0.141547 -0.894702 -0.457662  0.810608 -0.504723
254395  156710.0   0.202402  1.176270  0.346379  2.882138  1.407133 -0.504355
255403  157207.0   1.170756  2.501038 -4.986159  5.374160  0.997798 -1.259004
255556  157284.0  -0.242245  4.147186 -5.672349  6.493741  1.591168 -1.602523
258403  158638.0  -5.976119 -7.196980 -5.388316  5.104799  4.676533 -5.566870
261056  159844.0  -0.408111  3.132944 -3.098030  5.803893  0.890609 -0.501474
261473  160034.0  -2.349340  1.512604 -2.647497  1.753792  0.406328 -2.188494
261925  160243.0  -2.783865  1.596824 -2.084844  2.512986 -1.446749 -0.828496
262560  160537.0   0.567539  3.309385 -6.631268  6.394574 -0.054172 -2.396535
262826  160665.0  -0.417340  4.700055 -7.521767  7.671884  0.260821 -2.646693
263080  160791.0   2.132386  0.705608 -3.530759  0.514779  1.527175 -1.716268
263274  160870.0  -0.644278  5.002352 -8.252739  7.756915 -0.216267 -2.751496
263324  160895.0  -0.848290  2.719882 -6.199070  3.044437 -3.301910 -1.992117
263877  161154.0  -3.387601  3.977881 -6.978585  1.657766 -1.100500 -3.599487
268375  163181.0  -5.238808  0.623013 -5.784507  1.678889 -0.364432 -0.477295
272521  165132.0  -7.503926 -0.360628 -3.830952  2.486103  2.497367  1.332437
274382  165981.0  -5.766879 -8.402154  0.056543  6.950983  9.880564 -5.773192
274475  166028.0  -0.956390  2.361594 -3.171195  1.970759  0.474761 -1.902598
275992  166831.0  -2.027135 -1.131890 -1.135194  1.086963 -0.010547  0.423797
276071  166883.0   2.091900 -0.757459 -1.192258 -0.755458 -0.620324 -0.322077
276864  167338.0  -1.374424  2.793185 -4.346572  2.400731 -1.688433  0.111136
279863  169142.0  -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0   1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0  -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0  -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0   1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7         V8        V9  ...       V20       V21       V22  \
157455  0.761167  -0.607215  1.109595  ... -0.278524 -0.007065  0.302803
150833  0.477174  -2.800498  0.302342  ... -0.659061  2.359872 -0.288760
43427  -0.056494   0.311968 -0.050311  ... -0.227362  0.251326  0.786960
231006 -2.465016   1.094970 -0.782656  ... -0.347531 -0.104073  0.132893
38428  -2.024507   2.046665  0.244342  ... -0.525098  0.673644 -0.863844
24367   0.454166   0.738281 -0.287494  ...  0.466626 -0.138471 -0.130442
124122  0.745896   0.418644 -0.936526  ... -0.040389 -0.274116 -1.234981
152027 -1.048198  -0.494038  2.140146  ... -0.371139 -0.018178  0.883727
34516   4.591282  -0.434131 -0.719177  ...  3.454667  1.026779  0.698878
210330  1.071510   0.613257 -0.553294  ...  0.123828  0.279896  0.784753
216917 -0.459003  -0.165235 -0.797061  ...  0.045332  0.440203  1.231221
199730  0.487329  -0.396236 -0.785000  ...  0.254653 -0.196035 -0.896714
75444  -0.104453   0.547498 -2.901229  ...  0.110874  0.271531  0.564597
218598 -0.139896  -0.013182  0.929968  ...  0.323243 -0.050846 -0.604380
140807 -0.325804   0.277375 -0.917362  ...  0.815644 -0.107341 -1.258052
47010  -0.227884  -0.103737 -1.402260  ...  0.033682  0.241127  0.662462
166448 -0.287165  -0.250800 -0.347978  ... -0.075952  0.042129  0.061583
89083  -0.419065  -0.009455  0.722696  ... -0.058721  0.052380  0.017233
230519  0.294160   0.039265  0.668843  ...  0.114914  0.354115  0.918795
98927   1.011369  -0.320362  1.192321  ...  0.179052 -0.026004  0.481735
64260  -0.124446   0.191383  0.205971  ... -0.280269 -0.055506 -0.004218
190058  0.162593  -7.150999  1.235411  ... -6.028361 -4.391568  2.693420
176889  0.461347   0.819275 -0.609711  ...  0.028479  0.284009  0.703472
274329  0.030412   0.394758 -1.529119  ... -0.104573  0.151411  0.219569
206248  0.954948  -0.113111 -0.082772  ...  0.056584 -0.348925 -0.847372
176653 -0.643250   0.029342  1.441452  ... -0.171263  0.183927  0.750766
235000 -0.102388  -0.076942  1.112462  ... -0.150846 -0.364657 -0.678412
210565  0.725492  -0.287545 -0.376977  ...  0.050667 -0.196622 -0.542004
196794  0.064890  -0.499087  0.281998  ... -0.460665  0.907943  0.295079
87539  -0.325480   0.757516 -0.156437  ...  0.035217 -0.009463 -0.189702
...          ...        ...       ...  ...       ...       ...       ...
251891  0.716025  -0.164910 -1.502345  ... -0.226108 -0.152131 -0.360736
251904 -2.073347   0.639818 -3.013331  ...  1.054390  0.773961  0.214868
252124 -2.261897   1.185096 -4.441942  ...  0.328796  0.602291 -0.541287
252774 -3.176421   1.623279 -4.367228  ...  0.597026  0.532320 -0.556913
254344  1.373588  -0.209476  0.208494  ...  0.399447 -0.032643 -0.246526
254395  1.438537  -0.395603 -1.555142  ... -0.206239  0.242560  0.841230
255403 -1.237689   0.358426 -2.612489  ...  0.227618  0.123145 -0.713201
255556 -0.950463   0.722903 -4.128505  ...  0.562030  0.249023 -0.480286
258403 -4.291180   0.876531 -1.075478  ...  3.136338  1.459369 -0.136262
261056 -0.440054   0.591828 -3.267693  ...  0.499568  0.098482 -0.538375
261473 -0.686935  -0.547984 -0.099528  ... -0.093421 -0.088519 -0.595178
261925 -0.732262  -0.203329 -0.347046  ... -0.515001  0.203563  0.293268
262560 -2.792489   0.514811 -3.541780  ...  0.555412  0.614221 -0.365047
262826 -2.854432   0.958783 -4.588536  ...  0.832035  0.622200 -0.437708
263080  1.132791  -0.574214  0.128904  ... -0.211167  0.163739  0.703910
263274 -3.358857   1.406268 -4.403852  ...  0.816558  0.587728 -0.605759
263324 -3.734902   1.520079 -2.548788  ...  0.319576  1.125229  0.805258
263877 -3.686651   1.942252 -3.065089  ... -0.004301  1.043587  0.262189
268375 -4.276132  -0.695173 -2.971644  ... -0.203270 -0.326140  1.509239
272521 -6.783964 -15.415385  0.465512  ... -0.475126 -6.389132  2.249964
274382 -5.748879   0.721743 -1.076274  ...  2.493224  0.880395 -0.130436
274475 -0.055178   0.277831 -1.745854  ...  0.190877  0.473211  0.719400
275992  3.790880  -1.155595 -0.063434  ...  0.033804 -0.315105  0.575520
276071 -1.082511   0.117200 -0.140927  ...  0.037438  0.288253  0.831939
276864 -0.922038  -2.149930 -2.027474  ...  0.650196 -0.870779  0.504849
279863 -0.882850   0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170   0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739   1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002   1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050  -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28   Amount
157455 -0.018098 -0.069579  0.430755 -0.522885 -0.059353 -0.065811    29.00
150833 -0.281359  0.241589  1.116110 -0.465509  0.264506  0.264794    36.00
43427   0.282392 -0.290991 -1.071519  0.350076 -0.040343 -0.152227     7.59
231006  0.385831  0.672933 -0.518789 -0.209054  0.086718 -0.036200     8.95
38428   0.269812 -0.141515  0.429710  0.259593 -0.573146 -0.019591    36.90
24367  -0.142367  1.008927  0.134234 -0.267472  0.234732 -0.018300    55.68
124122  0.288106 -0.562071 -0.674172 -0.343964 -0.055752  0.064856    73.31
152027 -0.366960  0.083688 -1.209632  0.092970  0.278924 -0.016421     4.90
34516   2.983029 -0.219218  1.126996 -0.203282 -0.582642 -0.046885  1471.97
210330 -0.091172  0.750119 -0.250240  0.107962  0.395550  0.268504    38.52
216917 -0.072427  0.157894  0.285507  0.053529 -0.047275 -0.074470    15.00
199730 -0.178671 -0.352505 -0.137080 -0.461653 -0.080743  0.009266   431.75
75444   0.335571  0.191734  0.361231 -0.194948 -0.120127  0.001386   243.00
218598  0.096655 -0.526236 -0.491422 -0.680730 -0.020594 -0.002123   260.00
140807 -0.399973  0.027175 -0.377702  0.783288 -0.126516  0.130310   699.80
47010  -0.177105 -0.251634  0.741012 -0.051642 -0.013832 -0.016955     1.00
166448  0.193939  0.589381  0.020352 -0.259521 -0.054364 -0.060394    22.99
89083  -0.098033 -0.078612  0.230849  1.102724 -0.079721  0.009302    47.85
230519 -0.179169 -1.224601  0.020206  0.059273  0.036064  0.026177   200.00
98927  -0.179761  0.230639 -0.273324 -0.352696  0.140870 -0.194039     5.00
64260  -0.027895  0.210590  0.566760 -0.337917  0.029614  0.003971     1.00
190058  1.525849 -0.722601  0.255765 -0.411807 -5.636920  8.440910    20.00
176889 -0.221008  0.668207 -0.240988  0.623342  0.125161  0.188660    15.73
274329 -0.025088  0.219169 -0.172771 -0.368991 -0.128812 -0.084528     4.13
206248  0.068933  0.379770 -0.379132  0.124299  0.223461  0.083780     0.99
176653  0.135754  0.690846 -0.058201 -0.242823  0.037053 -0.029557    12.99
235000  0.280874  0.644762 -0.094887  0.071496 -0.029707 -0.048149    20.76
210565  0.026964  0.072222 -0.357169  0.340402 -0.150826  0.086090     1.98
196794  0.013383 -0.616057 -0.293959  0.457120 -0.071666 -0.085246    19.95
87539  -0.158369  1.005363  0.838139 -0.315659  0.011303  0.018157    30.72
...          ...       ...       ...       ...       ...       ...      ...
251891  0.043414 -0.242380  0.171098 -0.002601 -0.026667  0.005238     7.06
251904 -0.184233 -0.284091  0.493467  0.732329  0.675067  0.337076    94.82
252124 -0.354639 -0.701492 -0.030973  0.034070  0.573393  0.294686     0.77
252774  0.192444 -0.698588  0.025003  0.514968  0.378105 -0.053133     0.77
254344  0.484108  0.359637 -0.435972 -0.248480  0.021527  0.109192   187.11
254395 -0.370157 -0.026012  0.491954  0.234576 -0.279788 -0.331933     7.59
255403 -0.080868 -0.964310  0.338568  0.068630  0.481588  0.268226     4.97
255556 -0.286080 -1.153575 -0.035571  0.559628  0.409446  0.221048     0.77
258403  0.848177 -0.269916 -1.095060 -0.710905  0.565846 -1.034107   296.00
261056 -0.217989 -1.042657  0.314389  0.543244  0.233851  0.119603    45.51
261473  0.258148  0.061901 -0.354180 -1.152671 -0.736073  0.733703     4.90
261925  0.199568  0.146868  0.163602 -0.624085 -1.333100  0.428634   156.00
262560 -0.180409 -0.523271  0.645054  0.246466  0.902675  0.473571     4.69
262826 -0.090358 -0.742802 -0.312361  0.502575  0.821390  0.372379     0.77
263080 -0.245076  0.460049  0.920281 -0.216586 -0.026219 -0.025001     1.00
263274  0.033746 -0.756170 -0.008172  0.532772  0.663970  0.192067     0.77
263324  0.199119  0.035206  0.012159  0.601658  0.137468 -0.171397   127.14
263877 -0.479224 -0.326638 -0.156939  0.113807  0.354124  0.287592     0.38
268375 -0.215966 -0.245727  0.893041  0.865758  0.854657 -0.964482    39.98
272521  1.670508  0.140450  0.162147  1.207731  1.268958  0.097538    12.31
274382  2.241471  0.665346 -1.890041 -0.120803  0.073269  0.583799     0.00
274475  0.122458 -0.255650 -0.619259 -0.484280  0.683535  0.443299    39.90
275992  0.490842  0.756502 -0.142685 -0.602777  0.508712 -0.091646   634.30
276071  0.142007  0.592615 -0.196143 -0.136676  0.020182 -0.015470    19.95
276864  0.137994  0.368275  0.103137 -0.414209  0.454982  0.096711   349.08
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968   390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637     0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361    77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700   245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309    42.53

[984 rows x 30 columns]

In [25]:
print (Y)

157455    0
150833    0
43427     0
231006    0
38428     0
24367     0
124122    0
152027    0
34516     0
210330    0
216917    0
199730    0
75444     0
218598    0
140807    0
47010     0
166448    0
89083     0
230519    0
98927     0
64260     0
190058    0
176889    0
274329    0
206248    0
176653    0
235000    0
210565    0
196794    0
87539     0
         ..
251891    1
251904    1
252124    1
252774    1
254344    1
254395    1
255403    1
255556    1
258403    1
261056    1
261473    1
261925    1
262560    1
262826    1
263080    1
263274    1
263324    1
263877    1
268375    1
272521    1
274382    1
274475    1
275992    1
276071    1
276864    1
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [26]:
#Split into Training data & Testing Data

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)

In [27]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [28]:
#Model Training
#Logistic Regression 

model = LogisticRegression()

In [29]:
#training the logistic Regression model with Training Data

model.fit(X_train, Y_train)

C:\Users\james\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
#Model Evaluation
#Accuracy Score
#Accuracy on training data

X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [31]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9364675984752223

In [32]:
# accuracy on test data

X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [34]:
print('Accuracy score on Test Data :', test_data_accuracy)

Accuracy score on Test Data : 0.9035532994923858